body {
	font: 20px "Cambria", serif;
}
div.title {
	text-align: center;
}
br.inside {
	line-height: 30px;
}
br.outside {
	line-height: 40px;
}
span.first_letter_name {
	font-weight: bold;
	font-size: 40px;
}
span.remain_letters_name {
	font-weight: bold;
	font-size: 30px;
}
span.first_letter_section {
	font-size: 30px;
}
span.remain_letters_section {
	font-size: 22px;
}
li.item {
	margin-bottom: 10px;
}